<!--<mat-toolbar color="primary" class="">-->
<!--  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>-->
<!--  <h1 class="mx-1">TMDB Client</h1>-->
<!--</mat-toolbar>-->

<mat-sidenav-container class="border-4 border-purple-900" (backdropClick)="close('backdrop')">
  mat-sidenav-container
  <mat-sidenav class="border-4 border-amber-900" #sidenav (keydown.escape)="close('escape')" mode="side" opened disableClose>
    mat-sidenav
    <p>
      <button mat-button (click)="close('toggle button')">Toggle</button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content class="border-4 border-green-900">
    mat-sidenav-content
    <p>
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
