<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>

<button type="button" (click)="onLoadData()">Load data!</button>
<br>
<div>
  <button class="rounded bg-red-300 p-5 m-2" type="button" (click)="onCreateRequestToken()">Create Request Token</button>
  <button class="rounded bg-red-300 p-5 m-2" type="button" (click)="onCreateSession()">Create Session Id</button>
  <!--  <button class="rounded bg-red-300 p-5 m-2" type="button" (click)="onCreateSessionWithUserCredential()">Create Request Token</button>-->
  <button class="rounded bg-red-300 p-5 m-2" type="button" (click)="onLogin()">Login</button>
  <button class="rounded bg-red-300 p-5 m-2" type="button" (click)="onLogout()">Logout</button>


</div>
